/SeriesOfEratosthenes.class
/SieveOfEratosthenes.class
/PrimeNumbers.class
/TheHeavyPill.class
/Basketball.class
/Dominos.class
/AntsOnATriangle.class
/JugsOfWater.class
/BlueEyedPersons.class
/TheApocalypse.class
/TheEggDropProblem.class
/HundredLockers.class
/Bottle.class
/TestStrip.class
/PoisonNaiveApproach.class
/PoisonOptimizedApproach1.class
/PoisonOptimalApproach2.class
