/Animal.class
/AnimalQueue.class
/AnimalShelter.class
/Cat.class
/Dog.class
/FixedMultiStack.class
/MergeSortStack.class
/Node.class
/SetOfStacks.class
/SortStack.class
/Stack.class
/ThreeStacksIn1Array.class
/NodeWithMin.class
/StackMin.class
/StackWithMin.class
/StackWithMin2.class
/GetStackMinInBigOOf1.class
/QueueImplementationUsingStacks.class
